---
language: generic
# service:
#   - docker

fleet_win_before_install_tasks : &fleet_win_before_install_tasks
      before_install:
        - choco install python --version ${PYTHON_WIN_HOST}
        - python -m pip install --upgrade pip
        - pip install virtualenv
        - virtualenv $HOME/venv
        - source $HOME/venv/Scripts/activate

fleet_before_install_tasks : &fleet_before_install_tasks
      before_install:
        - pip install virtualenv
        - virtualenv -p python${PYTHON:0:1} venv
        - source venv/bin/activate

fleet_install_tasks : &fleet_install_tasks
      install:
        - pip install -r requirements.txt

fleet_script_tasks : &fleet_script_tasks
      script:
        - python --version
        - pip list
        - hpccm --recipe recipes/examples/basic.py --format singularity > Singularity
        - hpccm --recipe recipes/examples/basic.py --format docker > Docker
        - build . -t hpccmtest
matrix:
  fast_finish: true
  include:

    - name: "Python 3.7 on bionic"
      dist: bionic
      language: python
      python: 3.7
      env: PYTHON_VENV= 2.7
      <<: *fleet_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 2.7 on xenial"
      dist: xenial
      language: python
      python: 2.7
      env: PYTHON_VENV= 2.7
      <<: *fleet_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 2.7.17 on macOS xcode10.2"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: PYTHON_VENV= 2.7
      <<: *fleet_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 3.7.5 on macOS xcode10.2"
      os: osx
      osx_image: xcode10.2
      language: shell
      env: PYTHON_VENV= 2.7
      <<: *fleet_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 3.7.5 on macOS xcode9.4 "
      os: osx
      osx_image: xcode9.4
      language: shell
      env: PYTHON_VENV= 2.7
      <<: *fleet_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 3.8 on Windows"
      os: windows
      language: shell
      env:
        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
        - PYTHON_WIN_HOST=3.8.1
        - PYTHON_VENV=2.7
      <<: *fleet_win_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate

    - name: "Python 3.7 on Windows"
      os: windows
      language: shell
      env:
        - PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - PYTHON_WIN_HOST=3.7.3
        - PYTHON_VENV=2.7
      <<: *fleet_win_before_install_tasks
      <<: *fleet_install_tasks
      <<: *fleet_script_tasks
      after_success:
        - deactivate
